.vscode

Backend/node_modules/**/*
Backend/.gitignore
Backend/.env

mobile/node_modules/**/*
mobile/.expo/*
mobile/npm-debug.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build/
mobile/web-report/
mobile/.gitignore

Web/node_modules/**/*
Web/.pnp
Web/.pnp.js
Web/coverage
Web/build

Web/.DS_Store
Web/.env.local
Web/.env.development.local
Web/.env.test.local
Web/.env.production.local
Web/npm-debug.log*
Web/yarn-debug.log*
Web/yarn-error.log*